#aloha_app{
    header{
        button{
            height: 30px;
            padding: 0 10px;
            margin-left: 5px;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

