.product_eng_name{
    line-height: 25px;
    overflow-y: hidden;
    height: 25px;
}
.pdname a{
    font-size: 15px;;
}



.preview_empty{
    display: block;
    background:#fff;
    width: 100%;
    height: 100%;
}

.judJDM{
   
    padding:4px 10px ! important;
}

.product_sbox{
    justify-content: space-between ! important;
    width: 100%;
    display: flex;

    #search{
        height:30px;
    }

    .left_box{
        display: flex;
        height: 30px;
        align-items: center;
        
        padding: 0 0px 0 8px;
        border-radius: 5px;
       
        border: 1px solid #6c757d;
        .exit{
            padding: 0px 10px;
            font-size: 15px;
            cursor: pointer;
            margin-left: 5px;
            line-height: 0px;
            height: 100%;
            display: flex;
            align-items: center;
            &:hover{
                background:#6c757d;;
                color:#fff;
            } 
        }
    }
    
    .right_box{
        display: flex;   
    }
}
